.cont_header {
    position: relative;
}

/* -- Formatações perfil --*/
.perfil {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.perfil_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 500px;
}

/* -- capa perfil --*/
.capa {
    width: 100%;
    height: 250px;
    background-image: url(../../img/capaPerfil.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
}

/* -- Informações pessoais do freelancer --*/
.info_freela {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 280px;
   
}

.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infos .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 142px;
    height: 142px; 
}


.avatar img {
    width: 142px;
    height: 142px;
    border-radius: 50%;
    border: 3px solid var(--cor-primaria);
}

.emoji {
    display: flex;
    justify-content: center;
    width: 142px;
    position: absolute;
    top: 115px;
}

.emoji img {
    width: 40px;
}

/* -- Identificação (Nome nacionalidade) --*/
.identificacao {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.identificacao h1 {
    font-family: var(--font-secundaria);
    font-size: 1.8rem;
    color: #fff;
    font-weight: 400;
    letter-spacing: .5px;
}

.lang {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.lang img {
    width: 25px;
    margin-top: 2px;
}

/* -- Cargo (Pcd ou não) --*/
.cargo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    
}

.cargo p {
    font-family: var(--font-secundaria);
    font-size: .8rem;
    color: var(--placeholder-color);
}

.cargo .pcd {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    font-family: var(--font-secundaria);
    color: var(--cor-primaria);
    font-size: .75rem;
    background-color: #261313;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid var(--cor-primaria);
}

/* -- Avaliações --*/
.avaliacao {
    margin-top: 8px;
}

.avaliacao i {
    font-size: 1rem;
    color: var(--placeholder-color);
}

.avaliacao i.valid {
    color: var(--cor-primaria);
}

/* -- Redes sociais --*/
.redesLinks {
    display: flex;
    justify-content: center;
    position: absolute; 
    top: 45px;
    margin-left: 350px;
}

.redesLinks a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #1D1B26;
    margin: 0 5px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: all ease .2s;
}

.redesLinks a i {
    color: #fff;
    transition: all ease .2s;
}

.redesLinks a:hover > i {
    color: var(--cor-primaria);
}

/* -- Informações extras --*/
.cont_infoExtras {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 1320px;
    height: 220px;
    margin-bottom: 20px;
}

.tituloSection {
    font-family: var(--font-principal);
    font-size: 1.8rem;
    color: var(--cor-primaria);
    font-weight: 500;
    letter-spacing: 1px;
}

.tituloDesc { 
    font-family: var(--font-secundaria);
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--cor-primaria);
    font-weight: 600;
    letter-spacing: 1px;
}

/* -- Habilidades--*/
.habilidades {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #1D1B26;
    width: 350px;
    height: 210px;
    border-radius: 12px;
    padding: 15px;
}


.btnsHab {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
}

.btnsHab span {
    background-color: #151219;
    padding: 10px;
    margin: 5px 10px 5px 0;
    border-radius: 3px;
    font-family: var(--font-secundaria);
    font-size: 14px;
    color: var(--lilas-secundario);
}

/* -- Descricao--*/
.descricao, .historico {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #1D1B26;
    width: 460px;
    height: 210px;
    border-radius: 12px;
    padding: 15px;
}

.descText {
    margin-top: 10px;
    height: 50%;
    max-height: 50%;
}

.descText p {
    font-family: var(--font-secundaria);
    font-size: 1rem;
    color: var(--texto-primario);
    max-height: inherit;
}

.pcdButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 300px;
    margin-top: 10px;
    background-color: #151219;
    font-family: var(--font-secundaria);
    font-size: .8rem;
    color: var(--cor-primaria);
    border-radius: 6px;
}


/* -- ProjetoDev--*/
.projetosDev, .projetosDestaque {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 430px;
    height: 210px;
    border-radius: 12px;
    padding: 0px 15px 15px 15px;
}

.projetosDev h2 {
    margin-bottom: 10px;
}

.projetoAtual, .projetoDestaq {
    display: flex;
    padding: 10px;
    width: 100%;
    height: 80px;
    border: 1px solid #312E40;
    border-radius: 10px;
    margin-bottom: 10px;
}

.projetoText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}

.tituloProject {
    font-family: var(--font-secundaria);
    color: var(--texto-primario);
}

.ramoEmpresa, .nomeEmpresa {
    font-family: var(--font-secundaria);
    color: var(--placeholder-color);
    font-size: .8rem;
    margin: 2px;
}

/* -- certificados --*/
.certificados {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 350px;
    height: 700px;
    border-radius: 12px;
    padding: 15px;
}

.certificadoItem {
    display: flex;
    padding: 10px;
    width: 100%;
    height: 80px;
    border: 1px solid #312E40;
    border-radius: 10px;
    margin: 10px 0px;
}


/* -- historico --*/
.historico {
    height: 160px;
}

.historico h2 {
    margin-bottom: 15px;
}

.historico p {
    font-family: var(--font-secundaria);
    font-size: 1rem;
    color: var(--texto-primario);
    max-height: inherit;
}


/* -- projetos em destaque --*/

.projetosDestaque {
    height: 160px;
}

.projetosDestaque h2  {
    margin-bottom: 15px;
}


/* -- feedback --*/
.cont_feedback{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 270px;
    margin-top: 60px;
}

.feedback {
    display: flex;
    justify-content: center;
    width: 800px;
    position: relative;
    overflow: hidden;
    height: 200px;
    margin: 0px 0px 0px 380px;
     
}

.slideComments {
    display: flex;
    transition: all ease .3s;
}

/* -- Comment --*/

.comment {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    background-color: #1D1B26;
    position: relative;
    width: 370px;
    border-radius: 8px;
    margin: 0 10px;

}

.perfilComment {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    
}

.avatarComment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 2px solid var(--cor-primaria);
    margin-right: 10px;
   
}

.avatarComment img {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
}

.perfilComment p {
    font-family: var(--font-secundaria);
    font-size: 1rem;
    color: var(--texto-primario);
    margin-left: 10px;
}

.commentText p {
    font-family: var(--font-secundaria);
    font-size: .8rem;
    color: var(--texto-primario);
    text-align: center;
}

.avaliacaoComment i {
    font-size: .9rem;
    color: var(--placeholder-color);
}

.avaliacaoComment i.valid {
    color: var(--cor-primaria);
}


/* -- Comment --*/

.btnControlComments{
    display: flex;
    justify-content: space-between;
    width: 830px;
    margin: 0px 0px 0px 380px;
    position: absolute;
}

.btnControlComments button {
    background-color: transparent;
    cursor: pointer;
}

.btnControlComments i{
    color: #fff;
    font-size: 2rem;
    transition: all ease .2s;
}

.btnControlComments i:hover{
    color: var(--cor-primaria);
    
}




/* Responsividade */
@media screen and (max-width: 575.98px) {
    /* -- Topo perfil -- */
  .avatar img{
    width: 100px;
    height: 100px;
    }

    .perfil_info {
        height: 300px;
    }

    .capa {
        background-position: top;
    }

    .emoji img{
        width: 30px;
    }

    .identificacao h1 {
        font-size: 1.3rem;
    }

    .cargo p{
        font-size: .7rem;
    }

    .cargo .pcd {
        padding: 2px 4px;
        font-size: .6rem;
        
    }

    .avaliacao i {
        font-size: 12px;
    }

    .info_freela {
        top: 100px;
    }

    .offButton {
        display: none;
    }


    /* -- items perfil -- */
    .row {
        width: 90%;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 10px;
        height: 100%;
    }

    .cont_feedback {
        display: none;
    }

    .btnsHab span {
        font-size: .8rem;
    }

    .tituloSection {
        font-size: 1.2rem;
    }

    .habilidades, .certificados {
        width: 100%;
        height: 800%;
        margin-bottom: 20px;
    }

    .descricao, .historico  {
        width: 100%;
        margin-bottom: 20px;
    }

    .descText p, .historico p{
        font-size: .9rem;
    }

    .pcdButton {
        width: 100%;
    }

    .projetosDev, .projetosDestaque  {
        width: 100%;
    }

    .tituloProject {
        font-size: .8rem;
    }

    .avatarEmpresa img{
        width: 40px;
        height: 40px;
    }


    .subRow {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }


    .desactiveCertify {
        display: none;
    }


}

/* Small devices (tablet, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  /* -- Topo perfil -- */
  .avatar img{
    width: 100px;
    height: 100px;
    }

    .perfil_info {
        height: 300px;
    }

    .capa {
        background-position: top;
    }

    .emoji img{
        width: 30px;
    }

    .identificacao h1 {
        font-size: 1.3rem;
    }

    .cargo p{
        font-size: .7rem;
    }

    .cargo .pcd {
        padding: 2px 4px;
        font-size: .6rem;
    }

    .avaliacao i {
        font-size: 12px;
    }

    .info_freela {
        top: 100px;
    }

    .offButton {
        display: none;
    }


    /* -- items perfil -- */
    .row {
        width: 90%;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 10px;
        height: 100%;
    }

    .cont_feedback {
        display: none;
    }

    .btnsHab span {
        font-size: .8rem;
    }

    .tituloSection {
        font-size: 1.2rem;
    }

    .habilidades, .certificados {
        width: 100%;
        height: 800%;
        margin-bottom: 20px;
    }

    .descricao, .historico  {
        width: 100%;
        margin-bottom: 20px;
    }

    .descText p, .historico p{
        font-size: .9rem;
    }

    .pcdButton {
        width: 100%;
    }

    .projetosDev, .projetosDestaque  {
        width: 100%;
    }

    .tituloProject {
        font-size: .8rem;
    }

    .avatarEmpresa img{
        width: 40px;
        height: 40px;
    }


    .subRow {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }

   

    
    .desactiveCertify {
        display: none;
    }

    
}

/* Small devices (tablet modo paisagem) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    /* -- Topo perfil -- */
    .avatar img{
        width: 120px;
        height: 120px;
    }

    .perfil_info {
        height: 400px;
    }

    .capa {
        background-position: top;
    }

    .emoji img{
        width: 30px;
    }

    .identificacao h1 {
        font-size: 1.5rem;
    }

    .cargo p{
        font-size: .7rem;
    }

    .cargo .pcd {
        padding: 2px 4px;
        font-size: .6rem;
    }

    .avaliacao i {
        font-size: 14px;
    }

    .info_freela {
        top: 180px;
    }

    .offButton {
        display: none;
    }


    /* -- items perfil -- */
    .row {
        width: 90%;
    }

    .cont_feedback {
        display: none;
    }

    .btnsHab span {
        font-size: .8rem;
    }

    .tituloSection {
        font-size: 1.2rem;
    }

    .habilidades, .certificados {
        width: 25%;
    }

    .descricao, .historico  {
        width: 40%;
    }

    .descText p, .historico p{
        font-size: .8rem;
    }

    .pcdButton {
        width: 100%;
    }

    .projetosDev, .projetosDestaque  {
        width: 30%;
    }

    .tituloProject {
        font-size: .7rem;
    }

    .avatarEmpresa img{
        width: 40px;
        height: 40px;
    }

    .ramoEmpresa {
        display: none;
    }
    
    .subRow {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }

    .certificados {
        width: 100%;
        height: 200px;
    }

    .certificadoItem {
        width: 350px;
        margin-right: 20px;
    }
    .certificadosItems {
        display: flex;
        width: 100%;
    }

    .desactiveCertify {
        display: none;
    }

   

   
}

/* Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .row {
        width:  90%;
    }

    .capa { 
        background-position: top;
    }

    .info_freela {
        top: 220px;
    }

    .habilidades, .certificados {
        width: 260px;
        margin-right: 10px;
    }

    .btnsHab span {
        font-size: .8rem;
    }

    .tituloSection {
        font-size: 1.5rem;
    }

    .descricao, .historico {
        width: 380px;
    }

    .descText p, .historico p {
        font-size: .9rem;
    }

    .projetosDev, .projetosDestaque  {
        width: 400px;
    }

    .certificados {
        width: 100%;
        height: 200px;
    }

    .certificadoItem {
        width: 350px;
        margin-right: 20px;
    }
    .certificadosItems {
        display: flex;
        width: 100%;
    }

    .tituloProject {
        font-size: .8rem;
    }

    .desactiveCertify {
        display: none;
    }
 
    .subRow {
        display: flex;
        width:  90%;
        flex-wrap: wrap;
       
    }

    .feedback, .btnControlComments {
        display: none;
        width: 700px;
    }

   
    
}

/* Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) and (max-width: 1399px)  {

    .row {
        width: 1200px;
    }

    .habilidades, .certificados {
        width: 320px;
    }

    .descricao, .historico {
        width: 420px;
    }

    .projetosDev, .projetosDestaque  {
        width: 410px;
    }

    .feedback {
        width: 700px;
    }

    .comment {
        width: 340px;
    }

    .btnControlComments {
        width: 740px;
    }
 
   
    
  
}



















