@import url("http://fonts.cdnfonts.com/css/abraham");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

html {
  width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-thumb{
  background: var(--cor-primaria);
  border-radius: 1000px
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bg-primario);
}

:root{
  --cor-primaria: #FF8080;
  --lilas-secundario: #CFB3FF;
  --amarelo-secundario: #FFF0CC;
  --texto-primario: #E6E6E6;
  --placeholder-color: #808080;
  --bg-primario: hsl(249, 16%, 8%);
  --bg-secundario: #1D1B26;
  --lilas-placeholder: #917DB2;
  --bg-red: #261313; 
  --grey: #B2B2B2;
  --font-principal: "Abraham", sans-serif;
  --font-secundaria: "Inter", sans-serif;
}



/* Design básico de um botão principal */

.btn-conversao {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 16px 64px;
  border-radius: 4px;
  background-color: var(--cor-primaria);
  color: var(--bg-primario);
  font-size: 1rem;
}

.btn-conversao:hover {
  background-color: hsl(0, 100%, 70%); 
  cursor: pointer;
}

/* Design básico de um botão principal */

.btn-secundario {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid var(--lilas-placeholder);
  color: var(--lilas-placeholder);
  background-color: transparent;
  cursor: pointer;
}

.btn-secundario:hover {
  background-color: var(--lilas-secundario);
  color: var(--bg-primario);
  border: 1px solid var(--lilas-secundario);
}

/* Estrutura básica que vão ficar os botões */
.container-button {
  display: flex;
  gap: 1.4rem;
}

/* Estrutura básica do input */

.label-padrao {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--placeholder-color);
}

.input-padrao {
  padding: 1rem;
  font-size: 1rem;
  color: var(--texto-primario);
  background-color: var(--bg-secundario);
  border: 1px solid var(--bg-secundario);
  border-radius: 4px;

  width: 420px; 
}

.input-padrao:focus {
  border: 1px solid var(--lilas-secundario);
  color: var(--lilas-secundario);
}

/* Linha de peração de seção */
.separa-secao {
  width: 90%;
  height: 2px;
  background-color: var(--bg-secundario);
  margin: 1.8rem;
}

/* Padrão de Checkbox */

.box-checked {
  display: flex;
  gap: 0.4rem;
  padding: 0.9rem 1rem;
  background-color: var(--bg-secundario);
  border-radius: 12px;
}

.box-checked label {
  font-size: 0.9rem;
  color: var(--texto-primario);
}

.checkbox-padrao {
  appearance: none;
  /* background-color: var(--placeholder-color); */
  width: 18px;
  height: 18px;
  background-color: hsl(249, 10%, 30%);
  cursor: pointer;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-padrao::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url(/resolute-main/_assets/img/login/check-solid.svg);
  opacity: 0;
}

.checkbox-padrao:checked::before {
  opacity: 1;
}

.checkbox-padrao:checked {
  background-color: var(--lilas-secundario);
  border: 1px solid var(--lilas-secundario);
}

.checkbox-padrao:focus {
  border: 2px solid var(--lilas-secundario);
  box-shadow: 0px 0px 8px hsl(262, 100%, 85%,0.60);
}

/* Radio padrão de seleção */

.container-radio { 
  display: flex; 
  gap: 1rem;
}

.container-radio label {
  font-size: 0.9rem;
} 

.box-radio {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: hsl(251, 15%, 10%);
  border-radius: 12px;
  gap: 0.6rem;
}

.radio-padrao {
  cursor: pointer;
  appearance: none;
  width: 24px;
  height: 24px;
  background-color: hsl(249, 10%, 30%);
  border-radius: 64px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-padrao::before {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 64px;
  background-color: var(--lilas-secundario);
  opacity: 0;
}

.radio-padrao:checked{
  background-color: var(--bg-secundario);
  border: 1px solid var(--lilas-secundario);
}

.radio-padrao:checked::before {
  opacity: 1;
}

.radio-padrao:focus {
  border: 2px solid var(--lilas-secundario);
  box-shadow: 0px 0px 16px hsl(262, 100%, 85%, 0.60);
}

/* 
.radio-padrao:focus {
  border: 2px solid var(--lilas-secundario);
  box-shadow: 0px 0px 8px hsl(262, 100%, 85%, 0.60);
} */

/* FIM DO RADIO */

/* Comeco Select padrao */

.select-padrao {
  padding: 1rem;
  background-color: var(--bg-secundario);
  color: var(--texto-primario);
  border-radius: 4px;
  font-size: 1rem;
}

.select-padrao:focus {
  border: 2px solid var(--lilas-secundario);
}
